<main id="main">
    <section class="log-section" id="log-section">
        <div class="container">
            <div id="log" class="log">
                <div data-aos="fade-up" class="row align-items-center justify-content-center log-div">
                    <div class="col-md-5 col-12">
                        <div class="formBx">
                            <div class="log-head">
                                <h4>Update Paasword</h4>
                            </div>
                            <form>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="Paasword"
                                        placeholder="New Password">
                                </div>
                                <div class="mb-5">
                                    <input type="cpassword" class="form-control" id="cPaasword"
                                        placeholder="Confirm Password">
                                </div>
                                <button type="submit" class="btn log-btn">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->